<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href='/staticFiles/main.css' />
    <title>Home Page</title>
    <script>
        let tool = "LSA";
        let id = "";
        let loading = false;
        let gen = false
        function myFunction(value) {
            if (value === "extract") {
                gen = false;
                document.getElementById("dropdown sentences").style.display="block";
                document.getElementById("submit1").value = "extract";
                document.getElementById("submit1").innerHTML = "Extraction de sentences";
            } else if (value === "synthese") {
                gen = true;
                document.getElementById("dropdown sentences").style.display="none"
                document.getElementById("submit1").value = "synthese";
                document.getElementById("submit1").innerHTML = "Génération de synthèses";
            }
        };
        function changeText(item) {
            // if (item==undefined) {
            //     document.getElementById("dropdownMenuButton1").innerHTML = "LSA";
            //     document.getElementById("dropdownMenuButton1").value = "LSA";
            // }
            // else {
            //     document.getElementById("dropdownMenuButton1").innerHTML = item;
            //     document.getElementById("dropdownMenuButton1").value = item;
            // }
                document.getElementById("dropdownMenuButton1").innerHTML = item;
                document.getElementById("dropdownMenuButton1").value = item;
                tool = item;

        }
        window.onload = function() {
            changeText(tool);
        }
        async function submit() {
            // event.preventDefault();
            // const form = event.currentTarget;
            const file = document.querySelector("#inputGroupFile01")
            const form_img = document.querySelector("#form-img")
            const size = document.querySelector("#textlength").value
            if (gen) {
                tool = "bart"
            }
            const url = `https://838b-138-199-53-226.ngrok-free.app/summarize/${tool}`
            const formData = new FormData(form_img)
            
            formData.append("size", size)
	    const text = document.querySelector("#FormControlTextarea1").value
	    if (text.length > 0) {
		formData.append("text", text)
	    }
            
            const fetchOptions = {
                method: "POST",
                body: formData,
            };
            // let imageBlob = await new Promise(resolve => file.toBlob(resolve, file.DOCUMENT_TYPE_NODE));
            // formData.append("file", imageBlob, file.filename)

            fetch(url, fetchOptions).then((response) => {
                if (response.ok) {
                    response.json().then((data) => {
                        console.log(data)
                        id = data.id
                        loading = true
                        check_done()
                        console.log("requets done")
                    })
                }
            })
        }
        let dot = 0
        async function check_done() {
            console.log("check")
            const fetchOptions = {
                method: "GET"
            }
            const url = `https://838b-138-199-53-226.ngrok-free.app/summary/${id}`
            
            fetch(url, fetchOptions).then((response) => {
                if (response.ok) {
                    response.json().then((data) => {
                        if (data.done) {
                            document.querySelector("#FormControlTextarea2").innerHTML = data.report
                            if (data.transcript) {
                                document.querySelector("#FormControlTextarea1").innerHTML = data.transcript
                            }
			    loading = false
                        } else if (data.error) {
                            console.log(data.error)
                        } else {
                            document.querySelector("#FormControlTextarea2").innerHTML = `Loading${'.'.repeat(dot)}`
                            dot = (dot + 1) % 7
                            setTimeout(check_done, 2000)
                        }
                    })
                }
            })
        }

        function changeFile() {
            document.querySelector("#form-img").querySelector(".custom-file-label").innerHTML = document.querySelector("#inputGroupFile01").value.split('\\').at(-1)
        }

        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
        function copyToClipboard(elem) {
            var target = elem;

            // select the content
            var currentFocus = document.activeElement;

            target.focus();
            target.setSelectionRange(0, target.value.length);

            // copy the selection
            var succeed;

            try {
            succeed = document.execCommand("copy");
            } catch (e) {
            console.warn(e);

            succeed = false;
            }

            // Restore original focus
            if (currentFocus && typeof currentFocus.focus === "function") {
            currentFocus.focus();
            }

            return succeed;
        };
        function deleteText(elem) {
            var target = elem;

            target.innerHTML = ""
            target.value = ""
            
        }
    </script>
    
</head>
<body style="background-image: url({{img_bg}}); height: 100vh">
    <div style=" overflow-y: scroll; height: 100%;">
        <div class="topnav">
            <a class="active" href="#">Accueil</a>
            <a href="documentation">Mode d'Emploi</a>
            <a href="#contact">Contact</a>
            <a href="aboutus">Qui sommes-nous ?</a>
        </div>
        <!-- <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <a href="#">
                    <button class="btn btn-outline-primary" type="button">Accueil</button>
                </a>
                <a href="documentation">
                    <button class="btn btn-outline-success" type="button">Documentation</button>
                </a>
                <a href="aboutus">
                    <button class="btn btn-outline-secondary" href="aboutus" type="button">Qui sommes-nous ?</button>
                </a>

            </form>
        </nav> -->
        <div class="jumbotron prezdiv">
            <h1 class="display-4">RemeetAI</h1>
            <h3>Ton outil de résumé intelligent</h3>
            <p class="lead">Grâce à l'outil RemeetAI tu peux obtenir en quelques secondes ou minutes (selon la taille de ton fichier et la méthode sélectionnée) un résumé directement à partir d'une vidéo ou d'un audio.</p>
            <p class="lead">Tu as manqué une réunion ? Tu manques de temps pour réaliser le compte-rendu de ton point quotidien ? RemeetAI est là pour ça.</p>
            <hr class="my-4">
            <p>Avertissement : L'outil ne peut pas remplacer la qualité d'un résumé produit par un être humain.</p>
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="documentation" role="button" style="font-size: 14px;">En apprendre plus sur le logiciel RemeetAI</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="aboutus" role="button" style="font-size: 14px;">En apprendre plus sur l'équipe derrière le projet.</a>
            </p>
            <a href="#tool">
                <img src="{{arrowdown}}" >
            </a>
        </div>
        <a id="tool"></a>
        <div class="container-fluid tooldiv">
            <div class="align-items-center justify-content-center text-center mb-5">
                <h3>Pour traiter votre enregistrement, c'est ci-dessous :</h3>
                <!-- <div class="bottom-arrow"></div> -->
            </div>
        <!-- <hr> -->
            <div class="row align-items-center justify-content-md-center" >
                
                <div class="input-group mb-3 align-items-center justify-content-md-center"style="width: 50%;">
                    
                    <!-- <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                    </div> -->

                    <form class="" id="form-img">
                        <div class="custom-file" >
                        <input onchange="changeFile()" name="file" type="file" class="custom-file-input" id="inputGroupFile01">
                        <label class="custom-file-label " for="inputGroupFile01">Déposez un fichier pour traitement</label>
                        </div>
                    </form>
                </div>
            </div>
            <!-- <div class="align-items-center justify-content-center text-center">
                <h4>Décidez du format de votre résumé</h3>
                <div class="bottom-arrow"></div>
            </div> -->
        <hr>
            <div class="row">
                <div class="col-sm">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label onclick="myFunction('extract')" class="btn btn-primary active">
                        <input  type="radio" name="options" id="option1" complete="off" checked value="extract"> Extraction de sentences clés
                        </label>
                        <label onclick="myFunction('synthese')" class="btn btn-primary">
                        <input  type="radio" name="options" id="option2" autocomplete="off" value="synthese"> Génération de synthèses
                        </label>
                    </div>
                    <div class="dropdown mt-2" id="dropdown sentences">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ items[0] }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            {% for item in items %}
                            <a class="dropdown-item" onclick="changeText('{{ item }}')" value="{{ item }}" href="#">{{ item }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group col-md-4 paramlong">
                        <label for="textlength">Longueur de résumé attendu</label>
                        <select id="textlength" class="form-control">
                        <option selected value="0">Très court</option>
                        <option value="1">Court</option>
                        <option value="2">Moyen</option>
                        <option value="3">Long</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr class="special-hr"/>
            <div class="align-items-center justify-content-center text-center">
                <h4>Et si vous disposez d'un texte à résumer, on le fait aussi !</h3>
            </div>
        <hr>
            <div class="row">
                <div class="col-sm left">
                    <div class="form-group shadow-textarea blue-border-focus">
                        <label for="FormControlTextarea1">Renseignez votre texte de référence : </label>
                        <textarea class="form-control z-depth-1 rounded" id="FormControlTextarea1" rows="15" placeholder="Write/copy your text here"></textarea>
                    </div>
                    <div class="row"> 
                        <button class="btn btn-primary mr-2" title="Click to copy" type="button" onclick="copyToClipboard(document.getElementById('FormControlTextarea1'))">Copier</button>
                        <button class="btn btn-primary" title="Click to copy" type="button" onclick="deleteText(document.getElementById('FormControlTextarea1'))">Supprimer le contenu</button>
                    </div>                  
                </div>
             
                <div class="col-sm right">
                    <div class="form-group shadow-textarea green-border-focus">
                        <label for="FormControlTextarea2">Votre résumé s'affiche ci-dessous : </label>
                        <textarea class="form-control z-depth-2 rounded" id="FormControlTextarea2" rows="15" placeholder="Your resume will appear here"></textarea>
                    </div>
                    <div class="row"> 
                        <button class="btn btn-primary mr-2" title="Click to copy" type="button" onclick="copyToClipboard(document.getElementById('FormControlTextarea2'))">Copier</button>
                        <button class="btn btn-primary" title="Click to copy" type="button" onclick="deleteText(document.getElementById('FormControlTextarea2'))">Supprimer le contenu</button>
                    </div>  
                    <!--script>
                        var summarize_text = summarize_text
                        document.getElementById("myTextArea").value = summarize_text;
                    </script-->
                </div>
        
        
            </div>
            <hr>
            <button onclick="submit()" type="submit" id="submit1" class="btn btn-primary mb-5" value="Extraction de sentences">Extraction de sentences</button>
        </div>
    </div>
    <!-- <hr class="special-hr">
    <div class="center-div mb-1">
        <div class="row">
            <div class="col text-left">
                <a href="/">
                    <button class="btn btn-outline-primary" type="button">Accueil</button>
                </a>
            </div>
            <div class="col text-center">
                <a href="documentation">
                    <button class="btn btn-outline-success" type="button">Documentation</button>
                </a>
            </div>
            <div class="col text-right">
                <a href="aboutus">
                    <button class="btn btn-outline-secondary" href="aboutus" type="button">Qui sommes-nous ?</button>
                </a>
            </div>
        </div>
    </div> -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
